<label for="">Server Name:</label>
<!-- This input does not use two-way binding-->
<!-- <input 
    type="text" 
    class="form-control" 
    id="server-name"
    (input)="onUpdateServerName($event)"> -->

<!-- This input uses two-way binding-->
<input 
type="text" 
class="form-control" 
[(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button 
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p>{{allowNewServer}}</p>
<p [innerText]="allowNewServer"></p> -->
<p>{{ serverStatusCreation }}</p>
<app-server></app-server>
<app-server></app-server>